[submodule "submodules/cpp-httplib"]
	path = submodules/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "submodules/allwpilib"]
	path = submodules/allwpilib
	url = https://github.com/wpilibsuite/allwpilib.git
